@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Dosis :wght@400;500 & display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --font-padrao:'Dosis', sans-serif;
    --font-destaque: 'Great Vibes', cursiva;

}
.banner{
    background-color: #DECED2;
    height: 100vh;
    width: 99,8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner div{
    color: #FFFFFF;
    font-size: 70px;
    line-height: 105px;
    font-family: var(--font-destaque);
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}
.banner p{
    font-size: 32px;
    line-height: 38px;
    color: white;
    font-weight: 500;
    font-family: var(--font-destaque);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}
.banner img{
    width: 350px;
    height: 350px;
}
/*   NAV             */
nav{
    background-color: #F8F9FA;
    padding: 20px 0px;
    
    
}
.div-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-coracao{
    width: 40px;
    height: 37px;
    margin-right: 15px;
}
.div-left{
    display: flex;
    align-items: center;
}
.div-left div{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
    font-family: var(--font-padrao);
}
.div-ul ul{
    list-style: none;
    display: flex;
}
.div-ul ul li{
    margin-right: 25px;
    color: rgba(0, 0, 0, 0.473);
    font-size: 18px;
    line-height: 27px;
    font-family: var(--font-padrao);
    cursor: pointer;
}
.div-ul ul li:hover{
    color: rgb(0, 0, 0);
}
/*  ASIDE             */
aside{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
aside div{
    margin-right: 10px;
    background-color: #5A081E;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    font-family: var(--font-padrao);
}
.span-numero{
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: white;
    font-family: var(--font-padrao);
}
.span-letra{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
}
/*   SECTION noivos            */
.section-descricao{
    margin-top: 150px;
}
.descricao-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 1400px;
}
.div-descricao{
    margin-top: 50px;
    display: flex;
}
.div-michelli{
    margin-right: 30px;
}
.img-rafael, .img-michelli{
    width: 540px;
    height: 720px;
}
.div-michelli, .div-rafael{
    width: 540px;
}
.descricao-container h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #212529;
    font-family: var(--font-destaque);
    width: 1110px;
    height: 48px;
}
.div-descricao h2{
    font-size: 32px;
    line-height: 38px;
    font-family: var(--font-destaque);
    color: #212529;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}
.div-descricao p{
    font-size: 16px;
    line-height: 24px;
    color: #6c757d;
    font-family: var(--font-padrao);
    text-align: justify;
}
/*   SECTION informações            */
.section-eventos, .section-presentes{
    background-color: #F8F9FA;
}
.eventos-container {
    margin: auto;
    width: 1400px;
}
.eventos-container h3{
    font-size: 40px;
    line-height: 48px;
    font-family: var(--font-destaque);
    color: #212529;
    font-weight: 500;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 35px;
}
.igreja{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-localizacao, .img-calendario{
    width: 16px;
    height: 16px;
}
.img-igreja, .img-recepcao{
    width: 468px;
    height: 297px;
}
.img-recepcao{
    margin-left: 8px;
}
.div-desc-local{
    margin-right: 40px;
}
.div-desc-local p{
    font-family: var(--font-padrao);
    font-size: 24px;
    line-height: 29px;
    color: #212529;
    font-weight: 500;
    margin-bottom: 15px;
}
.link-loc{
    font-family: var(--font-padrao);
    font-size: 16px;
    line-height: 24px;
    color:#5a081e;
    font-weight: 400;
}
.link-data, .link-loc{
    margin-left: 5px;
    text-decoration: none;
}
.link-loc:hover{
    color:#f04d30;;
}
.link-data{
    font-family: var(--font-padrao);
    font-size: 16px;
    line-height: 24px;
    color: #6c757d;
}
.recepcao{
    margin-top: 35px;
}
/*   SECTION PRESENTES            */
.section-presentes{
    padding-top: 200px;
}
.presentes-container{
    margin: auto;
    width: 1070px;
    
}
.presentes-container h4{
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-family: var(--font-destaque);
    color: #212529;
    font-weight: 500;
    padding-top: 100px;
    margin-bottom: 60px;
}
.input-name{
    width: 494px;
    height: 37px;
    display: block;
    justify-content: center;
    align-items: center;
}
.input-name, textarea, .valor, #pagamento{
    color: #5a081e;
    border: 1px solid #6c757d62;
    outline: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 7px;
}
.input-name:focus, textarea:focus, .valor:focus, #pagamento:focus{
    border: 1px solid #5a081e;
}
#pagamento{
    color: #212529a6;
}
#pagamento:focus{
    color: #5a081e;
}
.div-name{
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212529ab;
    font-family: var(--font-padrao);
}
.div-inputs{
    display: flex;
}
textarea{
    width: 1044px;
    height: 96px;
}
.valor, #pagamento{
    width: 1044px;
    height: 37px;
}

.paragrafo{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212529ab;
    font-family: var(--font-padrao);
    width: 1070px;
    margin-bottom: 20px;
}
.div-email{
    margin-left: 55px;
    
}
/*   SECTION button            */
.div-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.div-button button{
    color: #5a081ee3;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-padrao);
    font-weight: 500;
    padding: 8px;
    border: 1px solid #5a081e;
    border-radius: 5px;
    margin-bottom: 100px;
}
.div-button button:hover{
    background-color: #5a081e;
    color: #FFFFFF;
}
/*   SECTION footer            */
.div-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.div-footer div{
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-padrao);
    font-weight: 400;
    color: #212529c2;
    font-family: var(--font-padrao);
}
.div-desen{
    margin-bottom: 40px;
}